<div class="header_banner mb-3">
  <h2 class="text-center">Update Contract</h2>
</div>
<div class="mb-3">
  <label for="con_code" class="form-label">Contract Code</label>
  <input id="con_code" class="form-control" type="text">
</div>
<div class="mb-3">
  <label for="con_start-date" class="form-label">Start Date</label>
  <input id="con_start-date" class="form-control" type="date">
</div>
<div class="mb-3">
  <label for="con_end-date" class="form-label">End Date</label>
  <input id="con_end-date" class="form-control" type="date">
</div>
<div class="mb-3">
  <label for="con_deposit" class="form-label">Deposit</label>
  <input id="con_deposit" class="form-control" type="text">
</div>
<div class="mb-3">
  <label for="con_total-payment" class="form-label">Total Payment</label>
  <input id="con_total-payment" class="form-control" type="text">
</div>


<button type="submit" class="btn btn-success d-block mx-auto mb-3">Update</button>
