<div class="container-fluid">
  <app-header></app-header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 ps-0">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-lg-10 pe-0">
        <!--        <app-emp-list></app-emp-list>-->
        <!--        <app-emp-create></app-emp-create>-->
        <!--        <app-emp-edit></app-emp-edit>-->
        <!--        <app-fac-list></app-fac-list>-->
        <!--        <app-fac-create></app-fac-create>-->
        <!--        <app-fac-edit></app-fac-edit>-->
        <!--        <app-cus-list></app-cus-list>-->
        <!--        <app-cus-create></app-cus-create>-->
        <!--        <app-fac-edit></app-fac-edit>-->
<!--        <app-con-create></app-con-create>-->
        <app-con-list></app-con-list>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>





