/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Nunito', sans-serif;
}

.header_banner {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header_banner h2 {
  font-weight: 800;
  line-height: 225px;
  font-size: 50px;
  color: white;
  text-shadow: 2px 0 2px #282d32;
}

table thead th {
  text-align: center;
}

table tbody td {
  text-align: center;
  vertical-align: middle;
}

