<div class="header_banner mb-3">
  <h2 class="text-center">Create Employee</h2>
</div>
<div class="mb-3">
  <label for="emp_name" class="form-label">Employee Name</label>
  <input id="emp_name" class="form-control" type="text">
</div>
<div class="mb-3">
  <label for="emp_birthday" class="form-label">Employee Birthday</label>
  <input id="emp_birthday" class="form-control" type="date">
</div>
<div class="mb-3">
  <label for="emp_id_card" class="form-label">Employee ID Card</label>
  <input id="emp_id_card" class="form-control" type="text">
</div>
<div class="mb-3">
  <label for="emp_phone" class="form-label">Employee Phone</label>
  <input id="emp_phone" class="form-control" type="text">
</div>
<div class="mb-3">
  <label for="emp_email" class="form-label">Employee Email</label>
  <input id="emp_email" class="form-control" type="text">
</div>
<div class="mb-3">
  <label for="emp_qualification" class="form-label">Employee Qualification</label>
  <input id="emp_qualification" class="form-control" type="text">
</div>
<div class="mb-3">
  <label for="emp_position" class="form-label">Employee Position</label>
  <input id="emp_position" class="form-control" type="text">
</div>
<div class="mb-3">
  <label for="emp_salary" class="form-label">Employee Salary</label>
  <input id="emp_salary" class="form-control" type="text">
</div>
<button type="submit" class="btn btn-success d-block mx-auto mb-3">Create</button>
