<ul class="sidebar list-unstyled">
  <li>
    <a class="btn d-inline-flex align-items-center rounded fw-bold show" data-bs-toggle="collapse"
       data-bs-target="#components-collapse" aria-expanded="true" aria-current="true">
      Home
    </a>
  </li>
  <li>
    <a class="btn d-inline-flex align-items-center rounded fw-bold show" data-bs-toggle="collapse"
       data-bs-target="#employee-collapse" aria-expanded="true" aria-current="true">
      Employee
    </a>
    <div class="collapse" id="employee-collapse" style="">
      <ul class="list-unstyled fw-normal pb-1 small">
        <li><a class="nav-link" routerLink="employee">Employee List</a></li>
        <li><a class="nav-link" routerLink="employee/create">Employee Create</a></li>
      </ul>
    </div>
  </li>
  <li>
    <a class="btn d-inline-flex align-items-center rounded fw-bold show" data-bs-toggle="collapse"
       data-bs-target="#customer-collapse" aria-expanded="true" aria-current="true">
      Customer
    </a>
    <div class="collapse" id="customer-collapse" style="">
      <ul class="list-unstyled fw-normal pb-1 small">
        <li><a class="nav-link" routerLink="customer">Customer List</a></li>
        <li><a class="nav-link" routerLink="customer/create">Customer Create</a></li>
      </ul>
    </div>
  </li>
  <li>
    <a class="btn d-inline-flex align-items-center rounded fw-bold show" data-bs-toggle="collapse"
       data-bs-target="#service-collapse" aria-expanded="true" aria-current="true">
      Service
    </a>
    <div class="collapse" id="service-collapse" style="">
      <ul class="list-unstyled fw-normal pb-1 small">
        <li><a class="nav-link" routerLink="service">Service List</a></li>
        <li><a class="nav-link" routerLink="service/create">Service Create</a></li>
      </ul>
    </div>
  </li>
  <li>
    <a class="btn d-inline-flex align-items-center rounded fw-bold show" data-bs-toggle="collapse"
       data-bs-target="#service-collapse" aria-expanded="true" aria-current="true">
      Service
    </a>
    <div class="collapse" id="contract-collapse" style="">
      <ul class="list-unstyled fw-normal pb-1 small">
        <li><a class="nav-link" routerLink="contract">Contract List</a></li>
        <li><a class="nav-link" routerLink="contract/create">Contract Create</a></li>
      </ul>
    </div>
  </li>
</ul>
