<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mu3b?ver=5c31"
           alt="" width="auto" height="24" class="d-inline-block align-text-top">
      <span class="fw-normal align-middle ms-3">|</span>
    </a>
    <a class="navbar-brand" href="#">Surface</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar_small" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Computers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Computers for Business</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Accessories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shop now</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Support</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0 d-flex ">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">All Microsofts<i class="bi bi-caret-down ms-1"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Search<i class="bi bi-search ms-1"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cart<i class="bi bi-cart ms-1"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-0 ps-1" href="#"><i class="bi bi-person-circle fs-5"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row bg-primary">
    <a class="nav-link text-center text-light" href="#">Shopping for gifts? Order by 11am PT on 12/22 to get your
      gifts by 12/24. Shop deals now ></a>
  </div>
  <div class="row">
    <div class="hero_panel"></div>
    <h1 class="text-center pt-5 fs-1">Unwrap possibility with Surface and Windows 11</h1>
    <p class="text-center fs-4">Surface laptops and 2-in-1s with Windows 11 are designed to fuel your originality,
      ideas and passions.
      <a href="">*</a></p>
    <div class="row">
      <div class="hero_panel-more d-flex justify-content-center">
        <span class="me-3 "><a class="" href="">Explore all products<i class="bi bi-arrow-right-short"></i></a></span>
        <span class="ms-3"><a href="">Shop Surface Pro 8<i class="bi bi-arrow-right-short"></i></a></span>

      </div>
    </div>
    <img class="mt-5 mb-2" style="width: 100%"
         src="https://expcontent.blob.core.windows.net/assets/mss-c_e89/1399_Panel01_Hero_Holidays_V4.png"
         alt="">
  </div>
  <div class="row">
    <div class="link_nav_4 col-lg-4 px-5 py-3">
      <h2>More choice than ever</h2>
      <p>Check out the most diverse selection of Surface devices yet, built for all the ways you create, work,
        play, and connect.</p>
    </div>
    <div class="link_nav_8 col-lg-8 px-5 py-3">
      <ul class="d-flex flex-wrap">
        <li class="flex-grow-1 py-3 fs-4" style="width: 33.33%"><a href=""><i class="bi bi-laptop pe-2"></i>Compare
          devices</a></li>
        <li class="flex-grow-1 py-3 fs-4" style="width: 33.33%"><a href=""><i
          class="bi bi-question-circle pe-2"></i>Help me choose<i class="bi bi-arrow-right-short"></i></a>
        </li>
        <li class="flex-grow-1 py-3 fs-4" style="width: 33.33%"><a href=""><i class="bi bi-bag pe-2"></i>Deals<i
          class="bi bi-arrow-right-short"></i></a></li>
        <li class="flex-grow-1 py-3 fs-4" style="width: 33.33%"><a href=""><i class="bi bi-house-fill pe-2"></i>Surface
          at home<i class="bi bi-arrow-right-short"></i></a></li>
        <li class="flex-grow-1 py-3 fs-4" style="width: 33.33%"><a href=""><i
          class="fas fa-user-graduate pe-2"></i>For education<i class="bi bi-arrow-right-short"></i></a>
        </li>
        <li class="flex-grow-1 py-3 fs-4" style="width: 33.33%"><a href=""><i class="bi bi-building pe-2"></i>For
          business<i class="bi bi-arrow-right-short"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="surface_home_2_in_1">
      <ul class="d-flex flex-wrap">
        <li style="width: 25%" class="2_in_1_item flex-grow-1 px-2">
          <div class="">
            <div class="" style="">
              <h4>2-in1 PCs</h4>
              <img style="width: 100%" style="width: 100%" src="https://c.s-microsoft.com/en-us/CMSImages/Surface_F21_DeviceFamily_DO2_V1.jpg?version=51b444e9-b150-fddc-e621-68cc29080173"
                   alt="">
            </div>

          </div>
        </li>
        <li style="width: 25%" class="2_in_1_item flex-grow-1 px-2">
          <div class="">
            <div class="" style="">
              <img style="width: 100%; margin-top: 37px" src="https://c.s-microsoft.com/en-us/CMSImages/Surface_F21_DeviceFamily_DO3_V2.jpg?version=a57c0490-b062-b355-29ca-5ad19efa72ae"
                   alt="">
            </div>

          </div>
        </li>
        <li style="width: 25%" class="2_in_1_item flex-grow-1 px-2">
          <div class="">
            <div class="" style="">
              <img style="width: 100%; margin-top: 37px" src="https://c.s-microsoft.com/en-us/CMSImages/Surface_F21_DeviceFamily_DO4_V2.jpg?version=c2716b44-3e61-6167-bcb4-0de155c7157a"
                   alt="">
            </div>

          </div>
        </li>
        <li style="width: 25%" class="2_in_1_item flex-grow-1 px-2">
          <div class="">
            <div class="" style="">
              <h4>Dual Screen</h4>
              <img style="width: 100%" src="https://c.s-microsoft.com/en-us/CMSImages/Surface_F21_DeviceFamily_DOStore2_V2.jpg?version=14866eb0-092f-9abb-4857-8eaeac4be6eb"
                   alt="">
            </div>

          </div>
        </li>
      </ul>
    </div>
    <div class="laptops">
      <ul class="d-flex flex-wrap">
        <li style="width: 25%" class="laptops flex-grow-1 px-2">
          <div class="">
            <div class="" style="">
              <h4>Laptops</h4>
              <img style="width: 100%" src="https://c.s-microsoft.com/en-us/CMSImages/Surface_F21_DeviceFamily_DO2_V1.jpg?version=51b444e9-b150-fddc-e621-68cc29080173"
                   alt="">
              <a class="align-middle" href="">Surface Pro 8<i
                class="bi bi-arrow-right-short"></i></a>
            </div>

          </div>
        </li>
        <li style="width: 25%" class="laptops flex-grow-1 px-2">
          <div class="">
            <div class="" style="">
              <img style="width: 100%; margin-top: 37px" src="https://c.s-microsoft.com/en-us/CMSImages/Surface_F21_DeviceFamily_DO3_V2.jpg?version=a57c0490-b062-b355-29ca-5ad19efa72ae"
                   alt="">
            </div>

          </div>
        </li>
        <li style="width: 25%" class="laptops flex-grow-1 px-2">
          <div class="">
            <div class="" style="">
              <img style="width: 100%; margin-top: 37px" src="https://c.s-microsoft.com/en-us/CMSImages/Surface_F21_DeviceFamily_DO4_V2.jpg?version=c2716b44-3e61-6167-bcb4-0de155c7157a"
                   alt="">
            </div>

          </div>
        </li>
        <li style="width: 25%" class="laptops flex-grow-1 px-2">
          <div class="">
            <div class="" style="">
              <img style="width: 100%; margin-top: 37px" src="https://c.s-microsoft.com/en-us/CMSImages/Surface_F21_DeviceFamily_DOStore2_V2.jpg?version=14866eb0-092f-9abb-4857-8eaeac4be6eb"
                   alt="">
            </div>

          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
