<div class="header_banner mb-3">
  <h2 class="text-center">Service List</h2>
</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th>ID</th>
    <th>Service Name</th>
    <th>Area</th>
    <th>Service Cost</th>
    <th>Max People</th>
    <th>Rent Type</th>
    <th colspan="3">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let serviceObj of serviceList">
    <td>{{serviceObj.id}}</td>
    <td>{{serviceObj.name}}</td>
    <td>{{serviceObj.area}}</td>
    <td>{{serviceObj.cost | currency: 'VND'}}</td>
    <td>{{serviceObj.maxPeople}}</td>
    <td>{{serviceObj.rentType.name}}</td>
    <td style="width: 30px"><a class="btn btn-success " href="">Detail</a></td>
    <td style="width: 30px"><a class="btn btn-warning" href="">Edit</a></td>
    <td style="width: 30px"><a class="btn btn-danger" (click)="openDialog(serviceObj.id)">Delete</a></td>
  </tr>
  </tbody>
</table>



