<header class="header">
  <nav class="navbar navbar-expand-lg py-3">
    <div class="container-fluid">
      <img src="https://i.imgur.com/37DLi1J.png" style="height: 50px; width: auto">
      <a href="#" class="navbar-brand text-uppercase font-weight-bold"><span style="color: #f05e2d; font-weight: bold">CODE</span><span style="color: #282782; font-weight: bold">GYM</span></a>
      <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>

      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a routerLink="/" routerLinkActive="selected" class="nav-link text-uppercase font-weight-bold">Home</a></li>

          <li class="nav-item"><a routerLink="/employee/list" routerLinkActive="selected" class="nav-link text-uppercase font-weight-bold">Employee</a>
            <ul class="sub-menu">
              <li><a routerLink="employee/list" >Employee List</a></li>
              <li><a routerLink="employee/create">Employee Create</a></li>
              <li><a routerLink="employee/edit/:id">Employee Edit</a></li>
            </ul>
          </li>
          <li class="nav-item"><a routerLink="/customer/list" routerLinkActive="selected" class="nav-link text-uppercase font-weight-bold">Customer</a>
            <ul class="sub-menu">
              <li><a routerLink="customer/list">Customer List</a></li>
              <li><a routerLink="customer/create">Customer Create</a></li>
              <li><a routerLink="customer/edit/:id">Customer Edit</a></li>
            </ul>
          </li>
          <li class="nav-item"><a routerLink="facility/visual" routerLinkActive="selected" class="nav-link text-uppercase font-weight-bold">Service</a>
            <ul class="sub-menu">
              <li><a routerLink="facility/list">Service List</a></li>
              <li><a routerLink="facility/create">Service Create</a></li>
              <li><a routerLink="facility/edit/:id">Service Edit</a></li>
            </ul>
          </li>
          <li class="nav-item"><a routerLink="/about" routerLinkActive="selected" class="nav-link text-uppercase font-weight-bold">Contract</a>
            <ul class="sub-menu">
              <li><a routerLink="contract/list">Contract List</a></li>
              <li><a routerLink="contract/create">Contract Create</a></li>
              <li><a routerLink="contract/edit/:id">Contract Edit</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
