<div class="header_banner mb-3">
  <h2 class="text-center">Update Facility</h2>
</div>
<div class="mb-3">
  <label for="ser_name" class="form-label">Service Name</label>
  <input id="ser_name" class="form-control" type="text">
</div>
<div class="mb-3">
  <label for="fac_are" class="form-label">Facility Area</label>
  <input id="fac_are" class="form-control" type="text">
</div>
<div class="mb-3">
  <label for="ser_cost" class="form-label">Service Cost</label>
  <input id="ser_cost" class="form-control" type="text">
</div>
<div class="mb-3">
  <label for="ser_max_people" class="form-label">Max people</label>
  <input id="ser_max_people" class="form-control" type="text">
</div>
<div class="mb-3">
  <label for="ser_type" class="form-label">Rent Type</label>
  <input id="ser_type" class="form-control" type="text">
</div>
<div class="mb-3">
  <label for="fac_standard" class="form-label">Facility Standard</label>
  <input id="fac_standard" class="form-control" type="text">
</div>
<div class="mb-3">
  <label for="ser_description" class="form-label">Other Description</label>
  <input id="ser_description" class="form-control" type="text">
</div>
<div class="mb-3">
  <label for="fac_pool" class="form-label">Facility Pool</label>
  <input id="fac_pool" class="form-control" type="text">
</div>
<div class="mb-3">
  <label for="fac_floor" class="form-label">Facility Floor</label>
  <input id="fac_floor" class="form-control" type="text">
</div>
<div class="mb-3">
  <label for="ath_service" class="form-label">Attach Service</label>
  <input id="ath_service" class="form-control" type="text">
</div>
<button type="submit" class="btn btn-success d-block mx-auto mb-3">Update</button>
